/* html5doctor.com Reset Stylesheet v1.6.1 Last Updated: 2010-09-17 Author: Richard Clark - http://richclarkdesign.com Twitter: @rich_clark */ html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; } body { line-height:1; } article,aside,details,figcaption,figure, footer,header,hgroup,menu,nav,section { display:block; } nav ul { list-style:none; } blockquote, q { quotes:none; } blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; } a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; } /* change colours to suit your needs */ ins { background-color:#ff9; color:#000; text-decoration:none; } /* change colours to suit your needs */ mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; } del { text-decoration: line-through; } abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; } table { border-collapse:collapse; border-spacing:0; } /* change border colour to suit your needs */ hr { display:block; height:1px; border:0; border-top:1px solid #cccccc; margin:1em 0; padding:0; } input, select { vertical-align:middle; }

body {
  background: #fafafa;
  font-family: "Noto Sans JP";
}

/* 追加 */
a {
  color: inherit;
  text-decoration: none;
}

/* 追加 */
ul, ol {
  list-style: none;
}


.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 16px;

}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.hero {
  background: center/cover url(/assetss/images/hero_pc.jpg);
  padding: 280px 0;
  color: #fff;
}
.hero__message {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.8;
  margin-bottom: 32px;
}

.button {
  font-size: 16px;
  padding: 0 48px;
  line-height: 56px;
  border-radius: 30px;
  border: 2px solid #fff;
  background: none;
  display: inline-block;
  color: #fff;
}

.button--black {
  border-color: #000;
  color: #000;
}


.button--sm {
  font-size: 14px;
  line-height: 46px;
  border-radius: 25px;
}

.header{
  padding: 0 16px;
  display: flex; /* 子要素を横並びにします */
  justify-content: space-between; /* 子要素を両端に、flex option */
  line-height: 56px;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background: rgba(0, 0, 0, .8);
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.header__logo{
  font-size: 16px;
}

.gnav {
  display: flex;
  list-style: none;
}


@media screen and (max-width: 640px) {
  .gnav {
    display: none;
  }
}


.gnav__link {
  padding: 0 8px;
  font-size: 13px;
  position: relative;
  line-height: 56px;
  display: block;
}
.gnav__link:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #fff;
  opacity: 0;
  transition: opacity .3s;
}
.gnav__link:hover:after {
  opacity: 1;
}


.footer {
  padding: 16px;
  border-top: 1px solid rgba(0, 0, 0, .12);
  font-size: 12px;
  color: rgba(0, 0, 0, .6);
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 640px) {
  .footer {
    display: block;
  }
}

.footer-nav {
  display: flex;
  list-style: none;
}

@media screen and (max-width: 640px) {
  .footer-nav {
    display: block;
    line-height: 1.8; /* 追加 */
    margin-bottom: 16px; /* 追加 */
  }
}

.footer-nav__item + .footer-nav__item:before {
  content: "|";
  margin: 0 8px;
}
@media screen and (max-width: 640px) {
  .footer-nav__item + .footer-nav__item:before {
    display: none;
  }
}


.section {
  padding: 80px 0;
}

.section--light {
  background: #fff;
}

.section--dark {
  background: linear-gradient(to top right, #000, #2d033a);
}

.heading {
  margin-bottom: 64px;
  text-align: center;
  position: relative;
  padding-bottom: 16px;
}
.heading:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 80px;
  height: 4px;
  background: #000;
}
.heading__main {
  font-size: 32px;
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
  line-height: 1;
  letter-spacing: 2px;
}

@media screen and (max-width: 640px) {
  .heading__main {
    font-size: 24px;
  }
}


.heading__sub {
  font-size: 13px;
  font-weight: normal;
  line-height: 1;
  color: rgba(0, 0, 0, .6);
}

.profile {
  display: flex;
  max-width: 640px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.twitter {
  text-align: center;
  max-width: 640px;
  margin: 0 auto;
  max-height: 1000px;
  overflow: scroll;
}

@media screen and (max-width: 640px) {
  .profile {
    display: block;
  }
}

.profile__photo {
  border-radius: 50%;
  width: 160px;
  height: 160px;
  margin-right: 24px;
  background: center/cover url(/assetss/images/profile.jpg);
}

@media screen and (max-width: 640px) {
  .profile__photo {
    margin: 0 auto 16px;
  }
}

.profile__body {
  flex: 1;
}
.profile__name {
  font-size: 24px;
  margin-bottom: 16px;
  line-height: 1;
  font-weight: bold;
}

@media screen and (max-width: 640px) {
  .profile__name {
    text-align: center;
  }
}

.profile__name rt {
  font-weight: normal;
  color: rgba(0, 0, 0, .6);
}
.profile__text {
  line-height: 1.8;
}

.grid {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .12);
  overflow: hidden;
}

.skill {
  text-align: center;
  color: #fff;
  background: linear-gradient(to top right, #000, #2d033a);
  padding: 24px;
  height: 100%;
}
.skill__icon {
  margin-bottom: 32px;
}
.skill__icon img {
  height: 80px;
}
.skill__title {
  font-weight: normal;
  line-height: 1;
  margin-bottom: 16px;
}
.skill__description {
  font-size: 13px;
  color: rgba(255, 255, 255, .6);
  line-height: 1.8;
}



@media screen and (max-width: 640px) {
  .grid {
    grid-template-columns: 1fr;
  }
}


.movie {
  background: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width: 640px) {
  .movie {
    display: block;
  }
}
.movie__body {
  padding: 32px;
  box-sizing: border-box;
  line-height: 1.8;
}
.movie__title {
  line-height: 1;
  font-size: 24px;
  margin-bottom: 12px;
}
.movie__date {
  line-height: 1;
  font-size: 24px;
  font-size: 12px;
  color: rgba(0, 0, 0, .6);
  margin-bottom: 16px;
}
iframe {
  display: block;
  width: 100%;
}
@media screen and (max-width: 640px) {
  iframe {
    height: 160px;
  }
}


.contact {
  max-width: 560px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 160px 1fr;
  gap: 16px;
}
@media screen and (max-width: 640px) {
  .contact {
    grid-template-columns: 1fr;
  }
}
.contact__label {
  text-align: right;
  padding-top: 10px;
}
@media screen and (max-width: 640px) {
  .contact__label {
    text-align: left;
    padding-top: 0;
  }
}
.contact__footer {
  grid-column: 2/3;
  margin-top: 16px;
}
@media screen and (max-width: 640px) {
  .contact__footer {
    grid-column: 1/2;
  }
}

.input {
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, .12);
  border-radius: 3px;
  padding: 8px;
}
.input--textarea {
  height: 160px;
}

.required {
  color: #de3f3f;
  margin-left: 3px;
}
